.navbar-brand {
	margin: 0 25px;
	padding: 10px 0 0 0;
}

.navbar-brand h1, .navbar-brand h2 {
	font-size: 12pt;
	line-height: normal;
	margin: 0 0 0 15px;
	padding: 0;
}

.navbar-brand h1 {
	font-weight: bold;
}

.navbar-brand h2 {
	font-size: 10pt;
	line-height: 90%;
}

.navbar-right img {
	margin-right: 25px;
	height: 45px;
}

.content-h2 a {
	font-size: smaller;
	margin-left: 1em;
}

pre {
  white-space: pre-line;
}

/* Table of contents */

#toc, .toc, .mw-warning {
    font-size: 95%;
    padding: 5px;
}
#toc h2, .toc h2 {
    border: medium none;
    display: inline;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
    text-align: center;
}
#toc ul, .toc ul {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-align: left;
}
#toc ul ul, .toc ul ul {
    margin: 0 0 0 2em;
}
#toc .toctoggle, .toc .toctoggle {
    font-size: 94%;
}

#toc ul li {
    list-style-type: none;
    padding-left: 0;
}

#toc-container {
  margin-bottom: 10px;
  float: right;
  margin-left: 20px;
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 10px;
}

/* Syntax highlighting tweaks */

/*Make line numbers unselectable: excludes line numbers from copy-paste user ops*/
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}

/*Override text selection highlighting for linenos*/
.lineno::-moz-selection {background-color: transparent;}/*Mozilla specific*/
.lineno::selection {background-color: transparent;}/*Other major browsers*/

.highlight .lineno { color: #999; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }

/* disable ugly scroll-bars on code blocks */
pre { overflow-x: hidden }

