*.class

*.jar
*.war

target/
.settings/
.classpath
.project
.metadata
.tomcatplugin
.#webclasspath
elda-standalone/meta-graph.ttl
elda-standalone/object-graph.ttl
elda-standalone/src/main/webapp/assets

bin

velocity.log

_site
.sass-cache
