_site
.sass-cache

target
elda-*
*.class

*.jar
*.war

target/
.settings/
.classpath
.project
.metadata
.tomcatplugin
.extract
.#webclasspath
elda-standalone/meta-graph.ttl
elda-standalone/object-graph.ttl
elda-standalone/velocity.log
elda-standalone/src/main/webapp/assets
elda-standalone/velocity.log*

_site
.sass-cache
