<html>
<head>
<title>bad query</title>

<style> body { background-color: pink } </style>

</head>
<body>
<h1>Query parse problem</h1>

The generated query was ill-formed.

{{message}} 

</body>
</html>
