## To aide debugging, dump the context
<div class="text-warning">
  <h2>debug - context</h2>
  #set ($vcontextCopy = {})
  $!vcontextCopy.putAll($vcontext)
  <table>
    #foreach ($entry in $vcontext.internalGetKeys())
      <tr>
        #if ($entry != 'vcontext')
          <td>$entry</td>
          <td>$vcontext.internalGet($entry)</td>
        #end
      </tr>
    #end
  </table>
</div>
