#set( $pageMetadata = $page.metadata() )

$(function(){
  require( ['app/qonsole'], function( qonsole ) {
    // configuration
    var config = {
      endpoints: {
        #if( $pageMetadata.selectionQuery() )
          "default": "$pageMetadata.selectionQuery().queryEndpoint()"
        #elseif( $pageMetadata.viewingQuery() )
          "default": "$pageMetadata.viewingQuery().queryEndpoint()"
        #end
      },
      prefixes: {
        "bw":       "http://environment.data.gov.uk/def/bathing-water/",
        "bwq":      "http://environment.data.gov.uk/def/bathing-water-quality/",
        "ef-sp":    "http://location.data.gov.uk/def/ef/SamplingPoint/",
        "interval": "http://reference.data.gov.uk/def/intervals/",
        "stats":    "http://statistics.data.gov.uk/def/administrative-geography/",
        "sr":       "http://data.ordnancesurvey.co.uk/ontology/spatialrelations/",
        "rdf":      "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
        "rdfs":     "http://www.w3.org/2000/01/rdf-schema#",
        "owl":      "http://www.w3.org/2002/07/owl#",
        "xsd":      "http://www.w3.org/2001/XMLSchema#"
      },
      queries: [
        #if( $pageMetadata.selectionQuery() )
        { "name": "Item selection query",
          "query": "$esc.escapeJava( $pageMetadata.selectionQuery().queryText() )"
        },
        #end
        { "name": "Item description query",
          "query": "$esc.escapeJava( $pageMetadata.viewingQuery().queryText() )"
        }
      ]
    };

    console.log( "initialising qonsole" );
    qonsole.init( config );
  } );
});
