<html>
<head>
<title>Elda with Velocity</title>
<style>
	h1 {
		background-color: #444
		; color: white
		; padding: 1ex
		; border-radius: 1ex
	}
	
	h2 {
		font-size: 1em
		; margin-left: 1ex
	}
	
	.indented {
		margin-left: 1ex
	}
	
	.itembox {
		border: 1px solid black
		; border-radius: 1ex
		; margin-bottom: 1ex
	}
	
	header h1 {
		background: url("../lda-assets/images/molecule.png") no-repeat scroll 0px 0px transparent
		; color: rgb(85, 85, 85)
		; font-size: 2.3em
		; font-weight: 300
		; font-family: Gill Sans, Arial, sans-serif
		; padding: 10px 66px
	}
	
	footer {
		background: #aaa
		; text-align: right
	}
</style>	
	
</head>
<body>

<img src="/elda/lda-assets/images/elda-banner.png" alt="Elda banner" />

<header>
	<h1>Linked Data API</h1>
</header>

<h1>Search Results</h1>

#foreach ($item in $items) 
	<div class="itembox">
		<h2><a href="$item.URI">$item.label</a></h2>
		
		#foreach ($property in $item.properties)
			<hr style="color: #fff">
			<div class="indented">
				<a href="$property.URI">$property.label</a>
				#foreach ($value in ${property.getValues($item)})
					<div class="indented">
						$value.objectString
					</div>
				#end
			</div>
		#end
		
		
	</div>
#end

<footer>
	<p>
		Powered by 
			<a href="$meta.implementation.link">$meta.implementation.name</a>,
		an implementation of the
			<a href="http://code.google.com/p/linked-data-api">Linked Data API</a>
	</p>
	<p>
		<a href="http://www.axialis.com/free/icons">Icons</a>
		by <a href="http://www.axialis.com">Axialis Team</a>
	</p>
</footer>



</body>
</html>