## Macros for displaying a single item

#macro( eldaItem $hnode )
  #set( $resource = $hnode.rdfNode() )
  <section class="rdf resource outer">
    <div class="row">
      #itemName( $resource )
      #itemURI( $resource )
      #itemTypes( $resource )
      #itemProperties( $hnode )
    </div>
  </section>
#end

## Display the name of the resource
#macro( itemName $resource )
  <div class="col-md-12">
    <h1 class="resource-label">$resource.getName()</h1>
  </div>
#end

## Display the item URI
#macro( itemURI $resource )
  <div class="col-md-12">
    <h2 class="resource-uri"><a href="$resource.getURI()">$resource.getURI()</a></h2>
  </div>
#end

## Display a list of types for the resource, if any are known
#macro( itemTypes $resource )
  #set( $types = $resource.types() )
  #set( $sep = "" )
  #if( $types.size() > 0 )
    <div class="col-md-12">
      <div class="resource-types">
        a
        <ul class="list-inline">
          #foreach( $type in $types )
            <li>
              $sep
              <a href="$type.getURI()">$type.getName()</a>
            </li>
            #set( $sep = ", " )
          #end
        </ul>
      </div>
    </div>
  #end
#end

## Show the various properties of the item
#macro( itemProperties $hNode )
  <div class="col-md-12">
    <ul class="resource-properties">
      #foreach( $childNode in $hNode.children() )
        <li class="$childNode.hintsString()">
          #set( $pred = $childNode.terminalLink() )
          #propertyPredicate( $pred )
          #propertyValue( $childNode )
        </li>
      #end
    </ul>
  </div>
#end

## Show the predicate of a property-value
#macro( propertyPredicate $p )
  <div class="rdf predicate">
    <a href="$p.getURI()">$p.getName()</a>
  </div>
#end

## Determine how to present a property value - single item or list?
#macro( propertyValue $node )
  #if( $node.hasSiblings() )
    #propertyMultiValue( $node )
  #else
    #propertySingleValue( $node )
  #end
#end

## Single value of a property
#macro( propertySingleValue $node )
  #propertyObject( $node, "first" )
#end

## List value of a property
#macro( propertyMultiValue $node )
  <ul class="rdf object multiple">
    <li class="first">
      #propertyObject( $node )
    </li>
    #foreach( $sibling in $node.siblings())
      <li class="$sibling.hintsString()">
        #propertyObject( $sibling )
      </li>
    #end
  </ul>
#end

## Show the value of a property-value
#macro( propertyObject $node $hint )
  #if( $node.rdfNode().isLiteral() )
    #propertyObjectLiteral( $node.rdfNode(), $hint )
  #end
#end

## Show a literal-valued property
#macro( propertyObjectLiteral $lit $hint )
  <div class="rdf object literal $hint">
    $lit.getLexicalForm()
  </div>
#end

