## An extension point to show content-specific enhancements to the display
## of individual items. Content-detection variables are set in
## partials/content-detection.vm called from index.vm

#macro( itemVisualExtension $resource )
  #itemMap( $resource )
#end

#macro( itemMap $resource )
  #if( $mapDisplay && $item.hasAllProperties( $latLongProps ))
    #set( $geoTriples = $item.extractByPredicate( $geoProps ) )
    <div class="col-md-8">
      <ul class="resource-properties extensions">
        #renderProperties( $geoTriples, 6, 6 )
      </ul>
    </div>
    <div class="col-md-4">
      <div class="item-extension map">
        #set( $mapId = "map-" + $item.rdfNode().shortUniqueID() )
        #set( $long = $geoTriples.get( 0 ).rdfNode().getLexicalForm() )
        #set( $lat  = $geoTriples.get( 1 ).rdfNode().getLexicalForm() )
        <div id="$mapId"></div>
        <script>
          EldaMaps.addSmallMap( "$mapId", $long, $lat, {w:16, h:16, image: "$assets/images/target.png"} );
        </script>
      </div>
    </div>
  #end
#end
