## Macros for displaying a single item

#macro( eldaItem $hnode )
  #set( $resource = $hnode.rdfNode() )
  <section class="rdf resource outer">
    <div class="row">
      #itemName( $resource )
      #itemURI( $resource )
      #itemTypes( $resource )
      #itemProperties( $hnode )
    </div>
  </section>
#end

## Display the name of the resource
#macro( itemName $resource )
  <div class="col-md-12">
    <h1 class="resource-label">$resource.getName()</h1>
  </div>
#end

## Display the item URI
#macro( itemURI $resource )
  <div class="col-md-12">
    <h2 class="resource-uri"><a href="$resource.getURI()">$resource.getURI()</a></h2>
  </div>
#end

## Display a list of types for the resource, if any are known
#macro( itemTypes $resource )
  #set( $types = $resource.types() )
  #set( $sep = "" )
  #if( $types.size() > 0 )
    <div class="col-md-12">
      <div class="resource-types">
        a
        <ul class="list-inline">
          #foreach( $type in $types )
            <li>
              $sep
              <a href="$type.getURI()">$type.getName()</a>
            </li>
            #set( $sep = ", " )
          #end
        </ul>
      </div>
    </div>
  #end
#end

## Show the various properties of the item
#macro( itemProperties $hNode )
  #set( $curPred = null )
  <div class="col-md-12">
    <ul class="resource-properties">
      #foreach( $childNode in $hNode.children() )
      <li class="">
        #set( $pred = $childNode.terminalLink() )
        #if ($pred.equals( $curPred ))
          #additionalPropertyValue( $childNode )
        #else
          #newPropertyValue( $childNode )
        #end
        #set( $curPred = $pred )
      #end
    </ul>
  </div>
#end

## Show the predicate of a property-value
#macro( propertyPredicate $p )
  <div class="rdf predicate">
    <a href="$p.getURI()">$p.getName()</a>
  </div>
#end

## Start a new property value list
#macro( newPropertyValue $node )
    #propertyPredicate(  )
    #propertyObject( $node, "first" )
  </li>
#end

## Continue an existing property value list
#macro( additionalPropertyValue $node )
  <span>, </span>
  #propertyObject( $node, "" )
#end

## Show the value of a property-value
#macro( propertyObject $node )
  #set( $first = "first")
  #set( $sep = "" )
  #foreach( $v in $hNode.children() )
    #if( $v.rdfNode().isLiteral() )
      #propertyObjectLiteral( $v.rdfNode, $first, $sep )
    #end
    #set( $first = "" )
    #set( $sep = "<span>, </span>" )
  #end
#end

## Show a literal-valued property
#macro( propertyObjectLiteral $lit $first $sep )
  $sep
  <div class="rdf object literal $first">
    $lit.getLexicalForm()
  </div>
#end

