## Add a page navigation link, such as first-page, prev-page, etc
#macro( pageNavigationLink $url $iconClass $title )
  #if( $url )
    <li class="">
      <a href="$url"><i class="fa $iconClass"></i> $title</a>
    </li>
  #else
    <li class="disabled">
      <a href="#"><i class="fa $iconClass"></i> $title</a>
    </li>
  #end
#end

## Add a page navigation link to change the page size
#macro( pageSizeLink $page $size )
  #set( $disable = "disabled" )
  #if( $page.itemsPerPage() > 0 )
    #set( $disable = "" )
  #end
  #set( $items = "items")
  #if( $size.equals( "1" ))
    #set( $items = "item" )
  #end
  #set( $newPageURL = $page.pageURL().withParameter( "SET", "_pageSize", $size ))
  <li class="$disable">
    <a href="$newPageURL">show $size $items</a>
  </li>
#end

## Add a view link
#macro( viewLink $view )
  #set( $disable = "" )
  #if( $view.viewName().equals( $_view.spelling() ) )
    #set( $disable = "disabled" )
  #end
  <li class="$disable">
    <a href="$view.getURI()">$view.viewName()</a>
  </li>
#end

## Add a section of removal links
#macro( removalLinksSection $links $title )
  #if( !$links.isEmpty() )
    <li role="presentation" class="dropdown-header">$title</li>
    #foreach( $link in $links )
      $link.toHTMLString( "li" )
    #end
  #end
#end
