#parse( "partials/global-constants.vm" )

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <meta name="description" content="HTML rendering of Linked Data API results for TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    #parse( "partials/css.vm" )

    <script src="/standalone/assets/velocity/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    #parse( "partials/navigation-bar.vm" )

    <div class="container">
      #parse( "partials/item-setup.vm")

      <h2>debug - context</h2>
      <div>
      #set ($vcontextCopy = {})
      $!vcontextCopy.putAll($vcontext)
      </div>
      <table>
      #foreach ($entry in $vcontext.internalGetKeys())
        <tr>
        ## Prevent infinite recursion, don't print the whole context again
        #if ($entry != 'vcontext')
          <td>$entry</td><td>$vcontext.internalGet($entry)</td>
        #end
        </tr>
      #end
      </table>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/standalone/assets/velocity/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="/standalone/assets/velocity/js/vendor/bootstrap.min.js"></script>
    <script src="/standalone/assets/velocity/js/main.js"></script>

  </body>
</html>
