<footer>
	<p>
		Powered by 
			<a href="${meta['processor.software.releaseOf.homepage'].URI}">$meta["processor.software.label"]</a>,
		an implementation of the
			<a href="http://code.google.com/p/linked-data-api">Linked Data API</a>
	</p>
	<p>
		Includes <a href="http://www.axialis.com/free/icons">icons</a>
		by <a href="http://www.axialis.com">Axialis Team</a>.
	</p>
</footer>
