<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Elda Standalone</title>

<link rel="stylesheet" href="/standalone/lda-assets/css/vm.css" />

<script type="text/javascript" src="/standalone/lda-assets/scripts/jquery.min.js"> </script>
<script type="text/javascript" src="/standalone/lda-assets/scripts/jquery-ui.min.js"> </script>
<script src="/standalone/lda-assets/scripts/codemirror/codemirror_min.js" type="text/javascript"> </script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">

$(function() {
	$('textarea').each(function() {
		var cm = CodeMirror.fromTextArea(this, 
			{
			basefiles: ["/standalone/lda-assets/scripts/codemirror/codemirror_base_sparql.js"],
			stylesheet: "/standalone/lda-assets/css/sparql.css",
			textWrapping: false
			})
		$(cm.frame)
			.css('border', '1px solid #D3D3D3')
			.css('border-radius', '5px')
			.css('-moz-border-radius', '5px')
	})
})

</script>	
	
</head>
