#set ($seen = $utils.newSet())
#set ($nextlink = $thisPage.valueOf("xhv:next"))
#set ($prevlink = $thisPage.valueOf("xhv:prev"))
#set ($firstlink = $thisPage.valueOf("xhv:first"))
#set ($resourceRoot = $vars['_resourceRoot'])
#set ($rootPath = $vars['_rootPath'])
#set ($propertyPaths = $utils.newSet())

#macro (image,$name)
<img src="${resourceRoot}images/green/16x16/${name}.png" />
#end

#set ($_properties = $utils.newSet())
#foreach ($p in $vars['_properties'].toString().split(","))
	#set ($ignored = $_properties.add($p))
#end

<html>
#parse("page-head-shell.vm")
<body>

<div style="background: #dff; font-size: 2em; margin: 0.5ex; border-radius: 0.2ex">
	<a href="http://en.wikipedia.org/wiki/Resource_Description_Framework">
		<img style="margin: 0.5ex; float: left" src="$resourceRoot/images/molecule-transparent.png">
	</a>
	<a href="https://code.google.com/p/elda/">
		<div style="float: left; margin-top: 0.5ex">Elda</div>
	</a>
	<a href="https://code.google.com/p/elda/downloads/list">
		<div style="text-indent: 0.5ex; float: left; margin-top: 0.5ex">Standalone: </div>
	</a>
	<a href="http://code.google.com/p/linked-data-api/wiki/Specification">
		<div style="text-indent: 1ex; float: left; margin-top: 0.5ex">Linked Data API</div>
	</a>
	<a href="http://www.epimorphics.com/web/">
		<img style="float: right; margin-right: 1ex" src="http://elda.googlecode.com/hg/docs/epilogo-200.png">
	</a>
	<div style="clear: both"> </div>
</div>

<div class="formats-list">
	#set ($pipe = "")
	#foreach ($f in $formats)
		$pipe #set ($pipe = " | ") <a href="$f.link">$f.name</a>
	#end			
</div>

#macro (tag, $property, $value)
	"Select items with $property.shortForm() less than $value"
#end

#macro (selection, $prefix, $symbol, $wording, $property, $value)					
	<a
		title="Select items with $property.shortForm() $wording $value"
		href="$thisPage.change($prefix, $property, $value).getURI()"
	> 
		$symbol 
	</a>
#end

## -------------------------------------------------------------------------

#macro (showliteral,$preamble,$property,$value)
	<div style="float: left"> $preamble </div>
	<div style="float: left; margin-left: 1ex">
		#if ($value.isSelfQuoting()) 
			$value 
		#else 
			"$value.shortForm()"
			#set ($lang = $value.language) 
			#set ($type = $value.literalType)
			#if ($lang == "") #else @$lang #end 
			#if ($type == "") #else ^^$type #end 
		#end 
	</div> 
	<div style="float: right">
	#selection("maxEx-", "&lt;", "less than", $property, $value)
	#selection("max-", "<u>&lt;</u>", "less or equal to", $property, $value)
	#selection("", "=", "equal to", $property, $value)
	#selection("min-", "<u>&gt;</u>", "greater or equal to", $property, $value)
	#selection("minEx-", "&gt;", "greater than", $property, $value)
	</div>
	<div style="clear: both"> </div>
#end

## -------------------------------------------------------------------------

#macro(linkly,$value)
<span>
<a class="bold" href="$value.URI" id="$value.id"
	title="Click to see document for this resource."
>&Delta;</a></span>

<span>
<a href="$rootPath/item.vhtml?_properties=*.*.*&resource=$value.URI.raw().replaceAll("#", "%23")"
	title="Click to see properties of this resource."
>$value.label</a>
</span>
#end

## -------------------------------------------------------------------------

#macro(displayvalues,$chain,$item,$seen)
	#set ($macro.unseen = $seen.add($item))
	#if ($macro.unseen)
		#foreach ($property in $item.properties)

			#set ($foreach.shortProp = $property.shortForm())
			#set ($foreach.dottedChain = $chain + "." + $foreach.shortProp)
			#set ($foreach.values = ${item.getValues($property)})			
			#set ($foreach.firstValue = $foreach.values.get(0))
			
			#set ($A = $utils.newSet())
			#set ($ignored = $A.addAll($_properties))
			#set ($ignored = $A.add($foreach.dottedChain.substring(1)))
			#set ($foreach.changeResult = $thisPage.change('', '_properties', $utils.join($A,',') ))
			
			## $utils.println("thisPage: ", $thisPage)
			## $utils.println("change result: ",$foreach.changeResult.toString())		    
		    #set ($image = "<img src='" + $resourceRoot + "images/green/16x16/" + "Plus" + ".png" + "'>")
		    
			#set ($foreach.linkprop = 
				" <a title='Click to add this property chain to viewed proeprties.' href='" + $foreach.changeResult.URI + "'>" + $image + "</a>"
				+ " <a style='margin-left: 1ex' href='" + $property.URI + "'>" 
				+ $property.shortForm().cut() 
				+ "</a>"
				)
				
            ## $utils.println("DC", $foreach.dottedChain)
            
            #set ($ignored = $propertyPaths.add($foreach.dottedChain.substring(1)))
            
			#if ($foreach.values.size() == 1 && $property.shortForm() == "label") #else
			
				<hr class="hr-style">
					
				#if ($foreach.values.size() == 1 && $foreach.firstValue.isLiteral())
					#showliteral($foreach.linkprop,$property,$foreach.firstValue)
				#elseif ($foreach.values.size() == 1 && ($seen.contains($foreach.firstValue) || $foreach.firstValue.properties.size() == 0))
					$foreach.linkprop #linkly($foreach.firstValue)
				#else				
					$foreach.linkprop
					#foreach ($value in $foreach.values)			   
						<div class="indented">
							#if ($value.isLiteral())
								#showliteral("", $property,$value)
							#else
								#if ($value.properties.size() > 0 && !$seen.contains($value))
									<div class="nested-item">
										<span style="background: #dff; width: 100%"> #linkly($value) </span>
										#displayvalues($foreach.parent.dottedChain,$value,$seen)
									</div>
								#else
									#linkly($value)
								#end
							#end				
						</div>					
					#end
				#end
			#end
		#end
	#else
	#end
	#if ($macro.unseen) #set ($ignored = $seen.remove($item)) #end
#end

<table width="100%">
<tr>
<td width="80%" valign="top">

<div id="search-results">
	<h2>Search Results</h2>
	
	<div style="margin-left: 4ex; margin-right: 4ex">
	#if ($items.size() > 1)
		#if ($firstlink)
			#if ($firstlink.equals($thisPage)) #else
				<a class="buttonlike" href="$firstlink.URI">first</a>
			#end 
		#end
		
		#if ($prevlink)
			<a class="buttonlike" href="$prevlink.URI">prev</a> 
		#end
		
		<b>on this page:</b>
		#set ($pipe = "")
		#foreach ($item in $items)
			<span>
				$pipe #set($pipe = " | ") <a href="#$item.id">$item.label</a>
			</span>
		#end
		
		#if ($nextlink)	
			<a class="buttonlike" href="$nextlink.URI">next</a> 
		#end
	#end
	</div>
		
	<div style="margin-left: 3ex">
		#foreach ($item in $items) 
			<div class="itembox">
			#linkly($item)
			#displayvalues("",$item, $seen)
			</div>
		#end
	</div>
</div>

</td>
<td width="20%" valign="top">
	<h2>other</h2>
	
	<div style="margin-left: 2ex">
	
	<div style="font-size: 2em; font-weight: bold"> properties </div>
	
	#foreach ($p in $_properties)
		<div> 
		
		#set ($A = $utils.newSet())
        #set ($ignored = $A.addAll($_properties))
		#set ($ignored = $A.remove($p))
		#set ($changed = $thisPage.change('', '_properties', $utils.join($A,',')))
		
		<a title='Click to remove this property chain from viewed properties.' href="$changed.URI">#image("Clipboard Cut")</a> $p
        
        </div>
	#end
	
	</div>
	
</td>
</tr>
</table>
	

<hr class="hr-style">

<table id="queries" style="margin: 2ex" width="100%">
<tr>

#if ($isListEndpoint)
	<td width="50%">
	<h4>selection query</h4>
	
	<p>
	This is the SPARQL query that was issued to select the items
	of interest for this page.
	</p>
	
	<textarea class="provenance" name="query" width="45%">
	$meta['selectionResult.query.value']
	</textarea>
	</td>
#end

<td width="50%">
<h4>view query</h4>

<p>
This is the SPARQL query that was issued for the property
chains of the view for this page.
</p>

<textarea class="provenance" name="query" width="45%">
$meta['viewingResult.query.value']
</textarea>
</td>

</tr>
</table>


#parse("page-foot-shell.vm")

</body>
</html>
