<html>
#parse("page-head-shell.vm")
<body>

<img src="/standalone/lda-assets/images/standalone-banner.png" alt="Elda banner" />

<header>
	<h1 style="float: left">Linked Data API</h1>
	<div style="float: right; font-size: 1.5em; font-weight: 300; margin-right: 4em; margin-top: 2.5ex; font-family: Gill Sans, Arial, sans-serif">
	
	#set ($pipe = "")
	#foreach ($f in $formats)
		$pipe #set ($pipe = " | ") <a href="$f.link">$f.name</a>
	#end			
	
	</div>
	<div style="clear: both"> </div>
</header>

#macro (tag, $property, $value)
    "Select items with $property.shortForm() less than $value"
#end

#macro (selection, $prefix, $symbol, $wording, $property, $value)					
    <a
    	title="Select items with $property.shortForm() $wording $value"
    	href="$thisPage.change($prefix, $property, $value).getURI()"
    > 
    	$symbol 
    </a>
#end

#macro (showliteral,$preamble,$property,$value)
	<div style="float: left"> $preamble </div>
	<div style="float: left; margin-left: 1ex"> $value.shortForm().cut() </div> 
	<div style="float: right">
	#selection("maxEx-", "&lt;", "less than", $property, $value)
	#selection("max-", "<u>&lt;</u>", "less or equal to", $property, $value)
	#selection("", "=", "equal to", $property, $value)
	#selection("min-", "<u>&gt;</u>", "greater or equal to", $property, $value)
	#selection("minEx-", "&gt;", "greater than", $property, $value)
	</div>
	<div style="clear: both"> </div>
#end

#macro(linkly,$value)
<span>
<a class="bold" href="$value.URI" id="$value.id"
	title="Click to see document for this resource."
>&Delta;</a></span>

<span>
<a href="item.vhtml?_properties=*.*.*&resource=$value.URI"
	title="Click to see properties of this resource."
>$value.label</a>
</span>
#end

#macro(displayvalues,$item,$seen)
    #set ($unseen = $seen.add($item))
    #if ($unseen)
		#foreach ($property in $item.properties)
			<hr class="hr-style">

			#set ($values = ${item.getValues($property)})			
			#set ($first = $values.get(0))
			#set ($linkprop = "<a style='margin-left: 1ex' href='" + $property.URI + "'>" + $property.label.cut() + "</a>")

			#if ($values.size() == 1 && $first.isLiteral())
				#showliteral($linkprop,$property,$first)
			#elseif ($values.size() == 1 && ($seen.contains($first) || $first.properties.size() == 0))
				$linkprop #linkly($first)
			#else
				$linkprop
				#foreach ($value in $values)
					<div class="indented">
						#if ($value.isLiteral())
							#showliteral("", $property,$value)
						#else
							#if ($value.properties.size() > 0 && !$seen.contains($value))
								<div style="border-left: 4px solid #ddf; padding-left: 1ex">
	    							<span style="background: #dff; width: 100%"> #linkly($value) </span>
									#displayvalues($value,$seen)
								</div>
							#else
    							#linkly($value)
							#end
						#end				
					</div>					
				#end
			#end
    	#end
    #else
    #end
	#if ($unseen) #set ($ignored = $seen.remove($item)) #end
#end

<table width="100%">
<tr>
<td width="80%" valign="top">

<div id="search-results">
	<h2>Search Results</h2>
	
	<div style="margin-left: 4ex; margin-right: 4ex">
	<b>on this page:</b>
	#set ($pipe = "")
	#foreach ($item in $items)
		<span>
			$pipe #set($pipe = " | ") <a href="#$item.id">$item.label</a>
		</span>
	#end
	</div>
	
	<div style="margin-left: 3ex">
		#foreach ($item in $items) 
			<div class="itembox">
			#linkly($item)
			#displayvalues($item, $seen)
			</div>
		#end
	</div>
</div>

</td>
<td width="20%" valign="top">
	currently unused column.
</td>
</tr>
</table>
	

<hr>
<table width="100%">
<tr>

#if ($isListEndpoint)
	<td width="50%">
	<h3>selection query</h3>
	<hr>
	<p>
	This is the SPARQL query that was issued to select the items
	of interest for this page.
	</p>
	<hr>
	<textarea class="provenance" name="query" width="45%">
	$meta['selectionResult.query.value']
	</textarea>
	</td>
#end

<td width="50%">
<h3>view query</h3>
<hr>
<p>
This is the SPARQL query that was issued for the property
chains of the view for this page.
</p>
<hr>
<textarea class="provenance" name="query" width="45%">
$meta['viewingResult.query.value']
</textarea>
</td>

</tr>
</table>


#parse("page-foot-shell.vm")

</body>
</html>
