<html>
#parse("page-head-shell.vm")
<body>

<img src="/elda/lda-assets/images/elda-banner.png" alt="Elda banner" />

<header>
	<h1>Linked Data API</h1>
</header>

#macro(nesting, $item)
	#foreach ($property in $item.properties)
		<hr style="color: #fff">
		<div class="indented">
			<a href="$property.URI">$property.label.cut()</a>
			#set ($values = ${item.getValues($property)})
			#if ($values.size() < 2) OPT #else MANY #end
			#foreach ($value in ${item.getValues($property)})
				<div class="indented">
					#if ($value.justALabel)
						<a href="$value.URI">$value.label</a>
					#else
						$value.shortForm().cut()
						#if ($value.isResource()) #nesting($value) #end
					#end
				</div>
			#end
		</div>
	#end
#end

<div id="search-results">
	<h1>Search Results</h1>
	
	#foreach ($item in $items) 
		<div class="itembox">
		<h2><a href="$item.URI" id="$item.getId($ids)">$item.label</a></h2>
		#nesting($item)
		</div>
	#end
</div>

<div class="rightside-extras">
	<div>
		<div class="right-header">formats</div>
		<div class="indented" style="margin-top: 1ex; margin-bottom: 1ex">
			#foreach ($f in $formats)
				<a href="$f.link">$f.name</a>
			#end
		</div>
	</div>
	
	<div class="bordered-panel">
		<div class="right-header">on this page</div>
		#foreach ($item in $items)
			<div style="margin-left: 1ex">&raquo; <a href="#$item.getId($ids)">$item.label</a></div>
		#end
	</div>

</div>

<div style="clear: both" />


<textarea>
$meta['selectionResult.query.value']
</textarea>

#parse("page-foot-shell.vm")

</body>
</html>