## Set variables based on contents of the display resources
#set( $longLatResources = $page.resourcesWithAllProperties( $longLatProps ))
#set( $eastingNorthingResources = $page.resourcesWithAllProperties( $osgb36Props ))
#if( $longLatResources.size() > 0 || $eastingNorthingResources.size() > 0)
  #set( $mapDisplay = true )
#end
