<footer>
  <div class="row">
    <div class="col-md-12">
        
      #set( $proc = $page.metadata().processor() )
      Produced by
      <a href="$proc.homePage()">$proc.name()</a>
      $proc.version(),
      an implementation by
      <a href="http://www.epimorphics.com">Epimorphics</a>
      of the
      <a href="http://code.google.com/p/linked-data-api">Linked Data API</a>.
      
      #if ($_licenses)
        #foreach ($l in $_licenses) 
            <div> 
            #if ($l.picture) <img src="$l.picture"> #end
            <a href="$l.URI"> $l.label </a>
            </div>
        #end
      #end
      
    </div>
  </div>
</footer>
