## Set up the page to display either an item endpoint or a list endpoint
#parse( "macros/item.vm" )
#parse( "partials/filter-actions.vm" )
<container>
  #if( $page.isItemEndpoint() )
    #parse( "partials/item-endpoint.vm" )
  #else
    #parse( "partials/list-endpoint.vm" )
  #end
</container>
