#parse( "macros/navigation.vm" )

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <div class="sr-only">Toggle navigation</div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </button>
      #parse( "partials/title-brand.vm" )
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        #parse( "partials/resource-links.vm" )
        #parse( "partials/page-size-links.vm" )
        #parse( "partials/format-links.vm" )
        #parse( "partials/view-links.vm" )
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
