<section>
  <div class="qonsole">
    <div class="panel-group" id="accordion">
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#sparqlform" class="">
              Sparql query form!
              <i class="fa expand-indicator"></i>
            </a>
          </h4>
        </div>
        <div id="sparqlform" class="panel-collapse">
          <div class="panel-body">
            <div class="col-md-12 well">
              <h2 class="">Example queries</h2>
              <span class="form-inline">
                <select class="form-control" id="examples"></select>
              </span>
            </div>

            <div class="col-md-12 well vertical">
              <h2 class="">Prefixes</h2>
              <ul class="list-inline prefixes">
                <li class="keep">
                  <a data-toggle="modal" href="#prefixEditor" class="btn" title="Add a SPARQL prefix">
                    <i class="fa fa-plus-circle"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-12 well">
              <div class="query-edit">
                <div id="query-edit-cm" class=""></div>
              </div>
              <div class="query-chrome">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label for="endpoints">SPARQL endpoint:</label>
                      <select class="form-control" id="endpoints">
                      </select>
                    </div>
                  <div class="form-group">
                    <input type="hidden" class="form-control" id="sparqlEndpoint" />
                  </div>
                  <div class="form-group">
                    <label for="format">Results format:</label>
                    <select class="form-control" name="format">
                      <option value="tsv">table</option>
                      <option value="text">plain text</option>
                      <option value="json">JSON</option>
                      <option value="xml">XML</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <a href="#" class="btn btn-success run-query form-control">perform query</a>
                  </div>

                </form>
              </div>
            </div>

            <!-- results -->
            <div id="results-block" class="row sparql sparql-results">
              <div class="col-md-12">
                <div class="well">
                  <div class="row">
                    <div class="col-md-12">
                      <span class="timeTaken hidden"></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12" id="results">
                      <h2 class="col-md-12">Query results</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row clearfix"></div>


          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix"></div>
  </div><!-- .container-->
</section>

<!-- modal dialogue -->
<div class="modal fade" id="prefixEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add a SPARQL prefix</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputPrefix" class="col-lg-2 control-label">Prefix</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputPrefix" placeholder="Prefix" autofocus>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button class="btn btn-sm btn-primary" id="lookupPrefix">Lookup <span></span> on prefix.cc</button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputURI" class="col-lg-2 control-label">URI</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputURI" placeholder="URI">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addPrefix">add prefix</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
